.leaflet-container {
  width: 100%;
  height: 78vh;
}

.leaflet-event-container {
  width: 100%;
  height: 75vh;
}

.school-logo {
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 250px;
  object-fit: cover;
}
